[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-simple-history = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
